body { background: #6961c0; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 56px; display: flex; }
.block-cart-0 { color: #e7c76d; font-size: 14px; margin-bottom: 5px; }
.block-cart-1 { color: #42e7e2; font-size: 20px; margin-bottom: 5px; }
.block-notify-2 { color: #de41ea; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #af4a0a; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #44a454; font-size: 20px; margin-bottom: 5px; }
.block-user-5 { color: #5e2b; font-size: 20px; margin-bottom: 5px; }
.block-notify-6 { color: #cb4854; font-size: 20px; margin-bottom: 5px; }
.block-order-7 { color: #220609; font-size: 19px; margin-bottom: 5px; }
.block-search-8 { color: #309437; font-size: 19px; margin-bottom: 5px; }
.block-cache-9 { color: #6d545a; font-size: 13px; margin-bottom: 5px; }
.block-user-10 { color: #effce4; font-size: 16px; margin-bottom: 5px; }